<%- include('./shared/header')%>
    <link rel="stylesheet" href="/profile.css">

    <title>Document</title>
    <link>
    </head>

    <body>
      <%- include('./shared/navbar')%>

        <h1 class="text-center mt-5">HomePage</h1>
        <%- include('./shared/footer')%>